<h1>Create an account</h1>
<br>

<form action="<%= users_url %>" method="post">

<input
   name="authenticity_token"
   type="hidden"
   value="<%= form_authenticity_token %>">

  <label for="username">Username</label><br>
  <input id="username" type="text" name="user[username]"><br>

  <label for="password">Password</label><br>
  <input id="password" type="password" name="user[password]"><br>

  <input type="submit" value="Submit">
</form>
