<br>
<br>
<div class="col s12 m6">
  <div class="card">
    <div class="row">
      <div class="input-field col s12 center">
        <h4 class="center login-form-text">Create An Account</h4>
      </div>
    </div>
    <div class="card-content">
      <form action="/users" method="POST">
        <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="email" type="email" name="user[email]" class="validate"><br>
          <label for="email">Email</label><br>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">lock_outline</i>
          <input id="password" type="password" name="user[password]" class="validate"><br>
          <label for="password">Password</label><br>
        </div>

        <button class="btn waves-effect waves-light center" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</div>
