$black: #161616;
$grey: #747474;
$light-grey: #999999;
$red: #d43316;

//pokemon type backgrounds
$bug: linear-gradient(315deg, #6D7815, #ff0);
$dragon: linear-gradient(315deg, #4924A1, #ff0);
$electric: linear-gradient(315deg, rgb(246, 201, 19), #ff0);
$fighting: linear-gradient(315deg, rgb(174, 42, 36), #ff0);
$fire: linear-gradient(315deg, rgb(237, 109, 18), #ff0);
$flying: linear-gradient(315deg, rgb(142, 111, 235), #ff0);
$ghost: linear-gradient(315deg, #493963, #ff0);
$grass: linear-gradient(315deg, rgb(105, 194, 61), #ff0);
$ground: linear-gradient(315deg, rgb(219, 181, 77), #ff0);
$ice: linear-gradient(315deg, #638D8D, #ff0);
$normal: linear-gradient(315deg, #6D6D4E, #ff0);
$poison: linear-gradient(315deg, #682A68, #ff0);
$psychic: linear-gradient(315deg, rgb(247, 54, 112), #ff0);
$rock: linear-gradient(315deg, #786824, #ff0);
$steel: linear-gradient(315deg, #787887, #ff0);
$water: linear-gradient(315deg, rgb(69, 120, 237), #ff0);
